html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/********************************/
/* SEARCH */
/********************************/

.search {
  text-align: center;
  padding: 2.5rem 0;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.search__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.search__form {
  position: relative;
  display: inline-block;
}

.search__input{
  padding: 1em;
  margin-top: 1rem;
  border-radius: 10em;
  font-size: .8rem;
  border: none;
  width: 20rem;
  position: relative;
  font-family: inherit;
  transition: width .2s ease-out;
}

.search__input:focus {
  outline: none;
  width: 21rem;
}

.search__input::placeholder {
  color: #bfbfbf;
}

.search__btn {
  position: absolute;
  right: 10px;
  top: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search__btn:focus {
  outline: none;
}

.search__icon {
  width: 1.4rem;
  opacity: 0.2;
}

.search__icon:hover {
  opacity: 0.3;
}

.search__results-list {
  list-style-type: none;
  padding: 0;
}

/********************************/
/* SEARCH RESULTS */
/********************************/

.results__list {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.results__user {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 5px;
  /* background-color: #333; */
  border: 2px solid #eee;
  border-radius: 2px;
  cursor: pointer;
}

.results__user:hover {
  border: solid 2px #F9C271;
}

.results__avatar {
  max-width: 3rem;
  border-radius: 2px;
}

.results__username {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  padding-left: .8em;
}