html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/********************************/
/* SEARCH */
/********************************/

.search {
  text-align: center;
  padding: 2.5rem 0;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.search__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.search__form {
  position: relative;
  display: inline-block;
}

.search__input{
  padding: 1em;
  margin-top: 1rem;
  border-radius: 10em;
  font-size: .8rem;
  border: none;
  width: 20rem;
  position: relative;
  font-family: inherit;
  transition: width .2s ease-out;
}

.search__input:focus {
  outline: none;
  width: 21rem;
}

.search__input::placeholder {
  color: #bfbfbf;
}

.search__btn {
  position: absolute;
  right: 10px;
  top: 1.5rem;
  background-color: transparent;
  border: none;
}

.search__btn:focus {
  outline: none;
}

.search__icon {
  width: 1.4rem;
  opacity: 0.2;
}

.search__icon:hover {
  opacity: 0.3;
}

.search__results-list {
  list-style-type: none;
  padding: 0;
}

/********************************/
/* RESULTS */
/********************************/

.results__list {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.results__user {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 5px;
  border: 2px solid #eee;
  border-radius: 2px;
  cursor: pointer;
}

.results__user:hover {
  border: solid 2px #F9C271;
}

.results__avatar {
  max-width: 3rem;
  border-radius: 2px;
}

.results__username {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  padding-left: .8em;
}

/********************************/
/* PROFILE */
/********************************/

.profile {
  padding: 1rem 0 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 4rem 1fr;
  grid-gap: 0 2rem;
  grid-template-areas: 
    ". name name ."
    ". avatar repos ."
}

.profile__name {
  grid-area: name;
  align-self: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.profile__name:hover {
  color: #F9C271;
}

.profile__avatar {
  grid-area: avatar;
  max-width: 100%;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.profile__repos {
  grid-area: repos;
  align-self: start;

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
  text-align: center;
}

.profile__repo-link {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background-color: #333;
  padding: 1rem;
  border-radius: 2px;;
  margin: .5rem;
  transition: transform .2s ease-out;
}

.profile__repo-link:hover {
  transform: translateY(-3px);
}

/********************************/
/* ERROR */
/********************************/

.error {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #333;
}

.error__close-btn {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 10rem;
}

.error__close-btn:hover {
  transform: scale(1.1);
}

.error__close-icon {
  width: 1.7rem;
  margin-bottom: -2px;
}

.error__message {
  font-weight: 600;
  color: #fff;
}

/* HIDDEN */

.results.hidden,
.profile.hidden,
.error.hidden {
  display: none;
} 

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .profile {
    grid-template-areas: 
      ". name name ."
      ". avatar avatar ."
      ". repos repos .";
  }
}

@media only screen and (max-width: 400px) {
  .search__input {
    width: 15rem;
  }
  .search__input:focus {
    width: 15.5rem;
  }
}